<div class="modal-header bg-blue">
  <h3>Plan a new project</h3>
</div>
<div class="modal-body">

  <div class="form-group">
    <label>Location</label>
    <select class="form-control" ng-model="form.location">
      <option value="All">All</option>
      <option value="Udupi">Udupi</option>
      <option value="Mysuru">Mysuru</option>
      <option value="Bengaluru">Bengaluru</option>
      <option value="Houston">Houston</option>
      <option value="Philadelphia">Philadelphia</option>
    </select>
  </div>

  <div class="form-group">
    <label>Team Lead</label>
    <input uib-typeahead="u as (u.first_name + ' ' + u.last_name) for u in userSearch($viewValue)" ng-model="form.teamLead" type="text" class="form-control" placeholder="Search By username">
  </div>

  <div class="form-group">
    <label>Customer</label>
    <input uib-typeahead="c as c.name for c in companySearch($viewValue)" ng-model="form.company" type="text" class="form-control" placeholder="Search By Company Name">
  </div>

  <div class="form-group">
    <label>Project Name</label>
    <input type="text" ng-model="form.name" class="form-control">
  </div>

  <div class="form-group">
    <label>Project Description</label>
    <input type="text" ng-model="form.description" class="form-control">
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> Date :</label>
        <uib-datepicker ng-model="form.date" ></uib-datepicker>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label> TimeZone :</label>
        <select class="form-control" ng-model="form.timeZone">
          <option value="EDT">EDT</option>
          <option value="PDT">PDT</option>
          <option value="MDT">MDT</option>
          <option value="CDT">CDT</option>
          <option value="IST">IST</option>
        </select>
      </div>
    </div>
  </div>

  <button ng-click="save()" type="button" class="btn btn-default">
    Save
  </button>

</div>
