<div class="col-md-3 animated fadeIn" style="padding-bottom:20px;padding-left:10px;padding-right:10px;">
  <div class="container-fluid card" style="padding-bottom:0px;cursor:pointer;border-radius:15px" ng-click="rowActionClicked('viewUserReports')">
    <div class="row" style="border-bottom: 1px solid #dedede;">
      <div class="col-md-3" style="padding:0px;">
        <img style="width: 60px;height:60px;" class="img" ng-if="data.profile.displayPicture != null" ng-src="{{data.profile.displayPicture}}">
        <img style="width: 60px;height:60px;" class="img" ng-if="data.profile.displayPicture == null" src="/static/images/userIcon.png">
      </div>
      <div class="col-md-8" style="position:relative;display:block;">
        <div class="row" style="padding-left:0px;">
          <h3>{{data.first_name + ' ' + data.last_name}}</h3>
          <span class="text-muted" style="position:absolute; top:10px;right:0px;">
            <i class="fa fa-hashtag"></i> <span style="font-size:14px;">{{data.pk}}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="row" style="padding:0px;padding-top:15px;min-height:100px;">
      <div class="col-md-12" ng-if="data.profile.mobile || data.email">
        <div class="col-md-5" style="padding:0px">
          <span ng-if="data.profile.mobile != null"><strong><i class="fa fa-mobile"></i> </strong>{{data.profile.mobile}}</span>
        </div>
        <div class="col-md-7 text-right" style="padding:0px">
          <span ng-if="data.email != null"><strong><i class="fa fa-envelope"></i> </strong>{{data.email}}</span>
        </div>
      </div>
      <div class="col-md-12" ng-if="data.profile.mobile == null && data.email == null">
        <span class="text-muted">No contact details</span>
      </div>
      <div class="col-md-12" style="border-top:2px solid #eee;padding-top:5px">
        <strong>Teams : </strong><span ng-repeat="t in data.teams">{{t.title}} , </span>
      </div>
    </div>
  </div>
</div>
